/********************************************************/
/*												  		*/
/*					DesktopStyle.CSS			  		*/
/*												  		*/
/*					1.) GEN. BODY				  		*/
/*					2.) HEADER							*/
/*					3.) LOGIN/REG						*/
/*					4.) USER PAGE						*/
/*					5.) BAND PAGE						*/
/*					6.) REGISTER PAGE					*/
/*														*/
/*      										  		*/
/********************************************************/


/***************************/
/*		1.) GEN. BODY	   */
/***************************/

body {
	margin: 0 auto;
	font-family: PT Sans;
}

code {
	background: #ddd;
	padding: 5px;
}



/***************************/
/*		2.) HEADER		   */
/***************************/


/***************************/
/*		3.) LOGIN/REG	   */
/***************************/




/***************************/
/*		4.) DASHBOARD	   */
/***************************/



/***************************/
/*		5.) BAND PAGE	   */
/***************************/





/***************************/
/*		6.) REGISTER PAGE  */
/***************************/



